# Idea
.idea/*

# Mac OS
.DS_Store

# Byte-compiled / optimized / DLL files
*.manifest
*.spec

# Theme Gem
Gemfile.lock
*.gem
.gems
jekyll-theme-type-on-strap.gemspec

# Node.js
**/node_modules/*
**/package-lock.json

# Misc
*-test.md
*copy.md
test/*
/type-on-strap*/*
